@import url('../styles/variable.css');
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--spacing-sm);
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: var(--spacing-sm);
}

.user-info p{
  margin-top: 0;
}
.user-info h2{
  margin: 10px;
}

.dropbox-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dropbox-login-button {
  width: 200px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--radius-sm);
  font-size: 16px;
  cursor: pointer;
  transition: var(--transition);
}

.dropbox-login-button:hover {
  background-color: var(--primary-dark);
  transform: translateY(-1px);
}

.loading {
  font-size: 18px;
  color: #333;
}